body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    float: left;
    border-style: none;
    background-color: transparent;
    color: cornsilk;
    width: 98%;
}

#title {
    float: left;
    font-size: 1.5em;
    text-shadow: 5px 5px 10px dimgray;
}

#sect3 iframe, #sect4 iframe {
    width: 100%;
    height: 100%;
}

.section_title {
    border: 1px solid skyBlue;
    background-color: cornsilk;
    box-shadow: 10px 10px 10px dimgray;
    margin-bottom: 2px;
    padding: 2px;
    text-align: justify;
    height: 5%;
    width: 100%;
}

.section_content {
    position: relative;
    border: 1px solid skyBlue;
    background-color: cornsilk;
    box-shadow: 10px 10px 10px dimgray;
    height: 200px;
    width: auto;
    z-index: 1;
}

.section_content_expand {
    position: absolute;
    top: 24.8%;
    left: 2%;
    border: 1px solid skyBlue;
    background-color: cornsilk;
    box-shadow: 10px 10px 10px dimgray;
    height: 70%;
    width: 63%;
    z-index: 10;
}

.column_left {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 1.5%;
}

.column_middle {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 3%;
}

.column_right {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 3%;
}
